* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
   background: #79b495; 
}

.form {
    background: #ffeca8;
    width: 90%;
    max-width: 700px;
    margin: 50px auto 0;
    padding: 50px;
    border-radius: 10px;
}
.form h1 {
font-size: 30px ;
color: #3b63a2 ;
font-weight: 600;
border-bottom: 1px solid #333;
padding-bottom: 10px;
text-align: center;
}

.quiz {
    padding: 40px 0;
}

.quiz h2 {
    font-size: 25px;
    font-weight:600;
    color: #3b63a2;
    text-align: center;
}

.btn {
    background: #fff;
    color: #3b63a2;
    font-weight: 600;
    width: 100%;
    border: 1px solid #3b63a2;
    padding:10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
  background: #3b63a2;
  color:#fff;  
}


#next-btn {
    background: #dadbda;
    color: #79b495;
    font-weight: 500;
    width:150px;
    border: 0;
    padding: 10px;
    margin: 25px auto;
    border-radius: 10px;
    cursor: pointer;
    display: none;
   
}

.correct {
    background: #0cf278;
}

.incorrect {
    background: #f8521b;
}